.forma {
	padding-top: 100px;
	padding-bottom: 110px;
	background: url("../images/forma.jpg") no-repeat;
	background-size: cover;

	font-size: 24px;
}

.forma_wrapper {
	font-size: 0;
	@include container; 


}

.forma_main {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 45px;

	text-align: right;
}

form {
	display: inline-block;
	width: 295px;
	box-sizing: border-box;
	padding: 40px 40px 18px 30px;
	border-radius: 20px;

	font-family: 'open_sansregular';
	text-align: left;
	background-color: white;

	@include clearfix;

	span {
		display: block;

		font-family: 'open_sanssemibold';
		font-size: 25px;
		color: #5363db;
		
	}

	.input_wrapper {
		position: relative;

		display: block;
	}

	input {
		width: 100%;
		margin-top: 17px;
		display: block;
		padding: 18px 0;
		padding-left: 10px;

		font-family: 'open_sansregular';
		font-size: 14px;
		color: #888888;


		outline: none;
		border: none;
		border-radius: 8px;
		background-color: #f2f2f2;
	}

	.buttom {
		float: right;
		display: inline-block;
		width: 170px;
		padding: 17px 8px;
		margin-top: 17px;		

		text-align: center;
		font-size: 16px;
		color: #ffffff;

		background-color: #475bf1;
		border: none;
		outline: none;
		border-radius: 6px;
		-webkit-appearance: normal;

		transition-property: background-color;
		transition-duration: 0.5s;
		transition-timing-function: ease;

		&:hover {
			background-color: #161e5d;
			cursor: pointer;
		}

	}

}

.forma_title {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin-top: 65px; 
	padding-left: 45px;

	text-align: left;
	color: #ffffff;

	h2 {
		margin: 0; 
		font-family: 'open_sansbold';
		font-size: 48px;
		text-transform: uppercase;
	}

	p {

		font-family: 'FreestyleScript-Regular';
		font-size: 40px;
		line-height: 1.2;
	} 
}

// validate

#name-error, #telefon-error{
  position: absolute;
  right: -32px;
  top: 50%;
  margin-top: -13px;
  width: 26px;
  height: 26px;
  background: url("../images/icons/no-valid.png");
}

#name-error.error.valid, #telefon-error.error.valid {
 position: absolute;
 width: 26px;
 height: 26px;
 background: url("../images/icons/valid.png");
}

// media

@media (max-width: 1025px) {
	.forma_title {
		h2 {
			font-size: 38px;
		}

		p {
			font-size: 30px;
		}
	}
}

@media (max-width: 600px) {
	.forma_title {
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.forma_main {
		width: 100%;
		text-align: center;
		padding-right: 0;

	}


}